<div id="wrapper" class="container-fluid"><!-- Page header -->
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 hidden-xs"> <img id="imgStylist" src="/images/best-hair.png"> </div>
            <div class="row">
                
                <div class="col-lg-6 col-md-6 col-sm-6 " style="margin-bottom: 50px;"> <img id="imgLogo" src="/images/dominic_white.png"> </div>
                <div><img height="140" width="378" class="pull-right hidden-xs" style="margin-top: -80px;" src="images/Christmas-holiday-clipart.png"></div>
                <div class="myBanner hidden-xs">
                    <br><br><br><br><br><p class="tagline"><strong>encompassing health &amp; beauty with excellence</strong></p>
                </div>
                <div class="hidden-lg hidden-md hidden-sm tagline-sm"><strong>encompassing health &amp; beauty with excellence</strong></div>

            </div>
        </div>
    </div>
</div><!-- Page header -->
<img height="140" width="378" class="pull-right visible-xs" style="margin-top: -60px;" src="images/Christmas-holiday-clipart.png">


