<div id="staffdetail" ng-controller="SchedulerController">
    <div class="container marketing bg-grey" style="padding-bottom: 18px;">
        <div class="page-header text-center">
            <h1>Select date and time</h1> </div>
        <label>Select a service:</label>
        <select ng-model="selectItem" ng-options="item as item.text for item in items"> </select>
        <div class="row times">
            <div class="col-xs-4 text-center" ng-repeat="day in days">
                <h2>{{ day.dayofWeek }}</h2>
                <h4>{{ day.todaysDate }}</h4>
                <div class="time-slot" ng-repeat="slot in day.timeslots">
                    <input type="checkbox" id="{{ day.dow }}-{{ $index }}" ng-model="slot.booked" ng-disabled="slot.booked">
                    <label for="{{ day.dow }}-{{ $index }}">{{ slot.start }}
                        <br> <span ng-if="slot.booked">Booked</span> <span ng-if="!slot.booked">Available</span> </label>
                </div>
            </div>
        </div>
    </div>
</div>
