<!-- Staff Member Page -->
<div id="staffdetail" class="container text-center marketing" ng-controller="StaffController">
    <h2 class="mySplash">Our Staff</h2>
    
    <div class="row">
        <div ng-repeat="staffmember in staffers">
        <div ng-if="staffmember.profile=='on'">
        <div class="col-lg-4 col-md-4 col-sm-6">
            <div class="panel panel-default">
                <div class="myPadding"><a href="#staffdetail/{{staffmember.regUID}}"><img class="img-responsive img-circle center-block"  id={{staffmember.regUID}} width='220' height='220'></a></div>
                <h3>{{ staffmember.firstname }} {{ staffmember.lastname }}</h3>
                <h4><span class="text-muted">{{ staffmember.title[0] }}</span></h4>
                <h5><span class="glyphicon glyphicon-phone"></span>  {{staffmember.mobile}}</h5>
                <h5><span class="glyphicon glyphicon-envelope"></span> <a href="mailto:{{staffmember.email}}">{{staffmember.email}}</a></h5>
            </div>
        </div>
        </div>
        </div>
    </div>
</div>
