<div id="wrapper" class="container-fluid"><!-- Page header -->
    <div class="container" id="spinMe">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"> <img id="imgStylist" src="/images/best-hair.png"> </div>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="margin-bottom: 50px"> <img id="imgLogo" src="/images/dominic_white.png"> </div>
                <div class="myBanner">
                    <h2>Inclusive Day Spa and Salon</h2></div>
                <div class="tagline">
                    <h4>encompassing health &amp; beauty with excellence</h4></div>
                <div class="myflash hidden-xs hidden-sm"><img class="img-responsive center-block flash-radius" src="/images/new-location.png"></div>
                <!--div class="myflash visible-xs visible-sm"><img class="img-responsive center-block flash-radius" src="/images/new-location.png"  height="200" width="200"></div-->
            </div>
        </div>
    </div>
</div><!-- Page header -->
