<!-- Container (Services Section) -->
<div id="services" class="container text-center marketing  bg-grey">
    <h2 class="mySplash">Salon and Spa Services</h2>
    <br>
    <div class="row slideanim">
        <div class="col-lg-4 myPadding"> 
            <h4>Hair</h4>
            <img src="images/nice-hair.png" style="border-radius: 25px" height="210" width="240">
            <p class="text-muted myLittlePad">Cut, Color, Style, Shampoo and more</p>
        </div>
        <div class="col-lg-4 myPadding"> 
            <h4>Nails</h4>
            <img src="images/nails.png" height="210" width="240">
            <p class="text-muted myLittlePad">Manicure, Pedicure, Acrylics, Custom and more</p>
        </div>
        <div class="col-lg-4 myPadding"> 
            <h4>Makeup</h4>
            <img style="border-radius: 25px" src="/images/makeup-artist.png" height="210" width="210">
            <p class="text-muted myLittlePad">Application, Bridal, Consultation and more</p>
        </div>
    </div>
    <br>
    <br>
    <div class="row slideanim">
        <div class="col-lg-4 myPadding"> 
            <h4>Training</h4>
            <img style="border-radius: 25px" src="/images/personal-training.jpg" height="210" width="240">
            <p class="text-muted myLittlePad">Personal, Group, Weight Loss and more</p>
        </div>
        <div class="col-lg-4 myPadding"> 
            <h4>Massage</h4>
            <img style="border-radius: 25px" src="/images/massage.jpg" height="210" width="240">
            <p class="text-muted myLittlePad">Swedish, Trigger Point, Hot Stone and more</p>
        </div>
        <div class="col-lg-4 myPadding"> 
            <h4>Spa</h4>
            <img style="border-radius: 25px" src="/images/facial.jpg" height="210" width="240">
            <p class="text-muted myLittlePad">Facials, Wax, Electrolysis, and more</p>
        </div>
    </div>
</div>