<!-- Staff Member Page -->
<div id="staffdetail" class="container marketing" ng-controller="StaffDetailController">
    
    <div class="row panel panel-default">
        <div class="col-lg-4 col-md-4 col-sm-4">
            <div><img class="img-responsive center-block specialistPic" id={{staffmember.regUID}}></div>
            <h1>{{ staffmember.firstname }} {{ staffmember.lastname }}</h1>
            <h2><span class="text-muted">{{ staffmember.title[0] }}</span></h2>
            <h4><span class="glyphicon glyphicon-phone"></span>  {{staffmember.mobile}}</h4>
            <h4><span class="glyphicon glyphicon-envelope"></span> <a href="mailto:{{val.email}}">{{staffmember.email}}</a></h4>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
            <h1>About</h1>
            <p class="text-muted tab-pane" style="text-align:left;font-size: 1.1em;">{{staffmember.about}}</p>
            <div>
                <div ng-if="staffmember.referral == 'on'"><span class="text-muted"><img src='/images/glossy-dollar-sign.png' height='38' width='38'> <span ng-if="staffmember.refdiscountPct">{{staffmember.refdiscountPct}}% </span>Referral fee for new clients!</span></div>
                <div ng-if="staffmember.newClient == 'on'"><span class="text-muted"><img src='/images/glossy-dollar-sign.png' height='38' width='38'> <span ng-if="staffmember.ncdiscountPct">{{staffmember.ncdiscountPct}}% </span>New client discount!</span></div>
            </div>
        </div>
        <!-- Only display "Services" if there are at least one service specified -->
        <h1 ng-if="staffmember.hairCut || staffmember.hairColor || staffmember.hairText || staffmember.hairAddition || staffmember.mani || staffmember.pedi || staffmember.wax || staffmember.miscSvcs" style="text-align: center">Services</h1>
        <div ng-if="staffmember.hairCut || staffmember.hairColor || staffmember.hairText || staffmember.hairAddition || staffmember.mani || staffmember.pedi || staffmember.wax || staffmember.miscSvcs" class="tab-pane" style="margin-right:25px; margin-left:20px;">
            <div ng-if="staffmember.hairCut">
                <h2>Haircut &amp; Styling</h2>
                <ul class="text-muted" style="text-align: left;">
                <div ng-repeat="hair in staffmember.hairCut" class="svrcStyle">
                    <li>{{hair}}</li>
                </div>
                </ul>
            </div>
            <div ng-if="staffmember.hairColor">
                <h2>Hair Color</h2>
                <ul class="text-muted" style="text-align: left;">
                <div ng-repeat="color in staffmember.hairColor" class="svrcStyle">
                    <li>{{color}}</li>    
                </div>
                </ul>
            </div>
            <div ng-if="staffmember.hairText">
                <h2>Hair Texturizer</h2>
                <ul class="text-muted" style="text-align: left;">
                <div ng-repeat="texturizer in staffmember.hairText" class="svrcStyle">
                    <li>{{texturizer}}</li>    
                </div>
                </ul>
            </div>
            <div ng-if="staffmember.hairAddition">
                <h2>Hair Enhancements</h2>
                <ul class="text-muted" style="text-align: left;">
                <div ng-repeat="addon in staffmember.hairAddition" class="svrcStyle">
                    <li>{{addon}}</li>    
                </div>
                </ul>            
            </div>
            <div ng-if="staffmember.mani">
                <h2>Manicure</h2>
                <ul class="text-muted" style="text-align: left;">
                <div ng-repeat="manicure in staffmember.mani" class="svrcStyle">
                    <li>{{manicure}}</li>    
                </div>
                </ul>            
            </div>     
            <div ng-if="staffmember.pedi">
                <h2>Pedicure</h2>
                <ul class="text-muted" style="text-align: left;">
                <div ng-repeat="pedicure in staffmember.mani" class="svrcStyle">
                    <li>{{pedicure}}</li>    
                </div>
                </ul>            
            </div>    
            <div ng-if="staffmember.wax">
                <h2>Wax</h2>
                <ul class="text-muted" style="text-align: left;">
                <div ng-repeat="waxSrvc in staffmember.wax" class="svrcStyle">
                    <li>{{waxSrvc}}</li>    
                </div>
                </ul>            
            </div>          
            <div ng-if="staffmember.miscSvcs">  <!-- Additional Services -->
                <h2>Additional Services</h2>
                <ul class="text-muted" style="text-align: left;">
                <div ng-repeat="additionalSrvc in staffmember.miscSvcs" class="svrcStyle">
                    <li>{{additionalSrvc}}</li>    
                </div>
                </ul>
            </div>            
            
            <!-- Products -->
            <!--div style="clear: left;" ng-if="staffmember.products">
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <h2>Products</h2>
                    <ul class="text-muted" style="text-align: left;">
                    <div ng-repeat="product in staffmember.products">
                        <li>{{product}}</li>    
                    </div>
                    </ul>            
                </div>
            </div--> 
            
        </div> <!-- ngif there are services -->
    </div>     <!-- Panel -->
</div>         <!-- StaffDetailController -->


