<!-- Staff Member Page -->
<div id="staffdetail" class="container marketing" ng-controller="StaffDetailController">
    
    <div class="row panel panel-default" style="padding-bottom: 25px; background:grey">
        <div class="col-lg-4 col-md-4 col-sm-4">
            <div><img class="img-responsive center-block specialistPic" id={{staffmember.regUID}}></div>
            <div style="border:1px solid #ccc; border-radius: 8px; background: #fff">
            <h1>{{ staffmember.firstname }} {{ staffmember.lastname }}</h1>
            <span ng-if="staffmember.title" ng-repeat="myTitle in staffmember.title">
                <h4 style="font-size:1.2em; color: #ccc;"><span class="text-muted">{{ myTitle }}</span></h4>
            </span>
            <h4><span class="glyphicon glyphicon-phone"></span>  {{staffmember.mobile}}</h4>
            <h4><span class="glyphicon glyphicon-envelope"></span> <a href="mailto:{{val.email}}">{{staffmember.email}}</a></h4>
            </div>
        </div>
        <div ng-if="staffmember.about" class="col-lg-4 col-md-4 col-sm-4">
            <h1 class="orange">About</h1>
            <div class="text-muted tab-pane" style="text-align:left;font-size: 1em; background: #fff;">
                <p style="text-align:left;font-size: 1em; padding-top:20px;">{{staffmember.about}}</p>
                <div ng-if="staffmember.referral == 'on'"><span class="text-muted"><img src='/images/glossy-dollar-sign.png' height='28' width='28'> <span ng-if="staffmember.refdiscountPct">{{staffmember.refdiscountPct}}% </span>Referral discount when you refer a friend or family member!</span></div>
                <div ng-if="staffmember.newClient == 'on'"><span class="text-muted"><img src='/images/glossy-dollar-sign.png' height='28' width='28'> <span ng-if="staffmember.ncdiscountPct">{{staffmember.ncdiscountPct}}% </span>New client discount!</span></div>
            </div>
        </div>
        <!-- Only display "Services" if there's at least one service specified -->
        <div ng-if="staffmember.hairCut || staffmember.hairColor || staffmember.hairText || staffmember.hairAddition || staffmember.mani || staffmember.pedi || staffmember.wax || staffmember.miscSvcs || staffmember.massage" class="col-lg-4 col-md-4 col-sm-4">
            <h1 class="orange">Services</h1>
            <div class="text-muted tab-pane" style="text-align:left; font-size: .75em; background: #fff;">
                <div ng-if="staffmember.hairCut">
                    <h2 class="panel-heading">Haircut &amp; Styling</h2>
                    <ul class="text-muted list-unstyled">
                    <div ng-repeat="hair in staffmember.hairCut" class="svrcStyle">
                        <li>{{hair}}</li>
                    </div>
                    </ul>
                </div>
                <div ng-if="staffmember.hairColor">
                    <h2 class="panel-heading">Hair Color</h2>
                    <ul class="text-muted list-unstyled">
                    <div ng-repeat="color in staffmember.hairColor" class="svrcStyle">
                        <li>{{color}}</li>    
                    </div>
                    </ul>
                </div>
                <div ng-if="staffmember.hairText">
                    <h2 class="panel-heading">Hair Texturizer</h2>
                    <ul class="text-muted list-unstyled">
                    <div ng-repeat="texturizer in staffmember.hairText" class="svrcStyle">
                        <li>{{texturizer}}</li>    
                    </div>
                    </ul>
                </div>
                <div ng-if="staffmember.hairAddition">
                    <h2 class="panel-heading">Hair Enhancements</h2>
                    <ul class="text-muted list-unstyled">
                    <div ng-repeat="addon in staffmember.hairAddition" class="svrcStyle">
                        <li>{{addon}}</li>    
                    </div>
                    </ul>            
                </div>
                <div ng-if="staffmember.mani">
                    <h2 class="panel-heading">Manicure</h2>
                    <ul class="text-muted list-unstyled">
                    <div ng-repeat="manicure in staffmember.mani" class="svrcStyle">
                        <li>{{manicure}}</li>    
                    </div>
                    </ul>            
                </div>     
                <div ng-if="staffmember.pedi">
                    <h2 class="panel-heading">Pedicure</h2>
                    <ul class="text-muted list-unstyled">
                    <div ng-repeat="pedicure in staffmember.pedi" class="svrcStyle">
                        <li>{{pedicure}}</li>    
                    </div>
                    </ul>            
                </div>    
                <div ng-if="staffmember.wax">
                    <h2 class="panel-heading">Wax</h2>
                    <ul class="text-muted list-unstyled">
                    <div ng-repeat="waxSrvc in staffmember.wax" class="svrcStyle">
                        <li>{{waxSrvc}}</li>    
                    </div>
                    </ul>            
                </div>
                <div ng-if="staffmember.massage">
                    <h2 class="panel-heading">Massage</h2>
                    <ul class="text-muted list-unstyled">
                    <div ng-repeat="aMassage in staffmember.massage" class="svrcStyle">
                        <li>{{aMassage}}</li>    
                    </div>
                    </ul>            
                </div>
                <div ng-if="staffmember.miscSvcs">  <!-- Additional Services -->
                    <h2 class="panel-heading">Additional Services</h2>
                    <ul class="text-muted list-unstyled">
                    <div ng-repeat="additionalSrvc in staffmember.miscSvcs" class="svrcStyle">
                        <li>{{additionalSrvc}}</li>    
                    </div>
                    </ul>
                </div>            
            
                <!-- Products -->
                <div ng-if="staffmember.products">
                    <h2 class="panel-heading">Products</h2>
                    <ul class="text-muted list-unstyled">
                    <div ng-repeat="product in staffmember.products" class="svrcStyle">
                        <li>{{product}}</li>    
                    </div>
                    </ul>            
                </div> 
            </div>
        </div> <!-- ngif there are services -->
    </div>     <!-- Panel -->
</div>         <!-- StaffDetailController -->


