<!-- Staff Member Page -->
<div id="staffdetail" class="container text-center marketing bg-grey" ng-controller="StaffController">
    <h2 class="mySplash">Our Staff</h2>
    
    <div class="specialistSearch text-muted pull-right">
    <!--label>Find: </label-->
    <!--input ng-model="query" placeholder="search on name or title" autofocus-->
           
    <label class="formgroup">Sort by 
    <select ng-model="staffOrder">
        <option value="firstname">Name</option>
        <option value="title">Service</option>
    </select>
    </label>
    <label class="formgroup">
      <input type="radio" ng-model="direction" name="direction" checked>
      ascending
    </label>
    <label class="formgroup">
      <input type="radio" ng-model="direction" name="direction" value="reverse">
      descending
    </label>

    </div>
    <div class="clearfix"></div>
    <div class="row">
        <div ng-repeat="staffmember in staffers  | filter: {profile:'on'} | orderBy: staffOrder:direction">
         
        <!-- TODO: adjust for screen breakpoints -->
        <div class="clearfix" ng-if="$index % 3 == 0"></div>
            
        <div class="col-lg-4 col-md-4 col-sm-6">
            <div class="panel panel-default">
                <div class="myPadding"><a href="#staffdetail/{{staffmember.regUID}}"><img src="/images/default-profile-pic.png" class="img-responsive img-circle center-block"  id={{staffmember.regUID}} width='220' height='220'></a></div>
                <h3>{{ staffmember.firstname }} {{ staffmember.lastname }}</h3>
                <h4><span class="text-muted">{{ staffmember.title[0] }}</span></h4>
                <h5><span class="glyphicon glyphicon-phone"></span>  {{staffmember.mobile}}</h5>
                <h5><span class="glyphicon glyphicon-envelope"></span> <a href="mailto:{{staffmember.email}}">{{staffmember.email}}</a></h5>
                <a style="margin-top:12px; margin-bottom:10px;" href="#staffdetail/{{staffmember.regUID}}" class="btn btn-default btn-md" role="button">View my profile</a>
            </div>
        </div>
        </div>
    </div>
</div>

