<!-- Container (Testimonials Section) -->
<div id="testimonials" class="container text-center marketing">
    <h2 class="featurette-heading">What our customers say</h2>
    <div id="myCarousel" class="carousel slide text-center" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <h3>"The best. I am so happy with the result!"<br><span class="text-muted" style="font-style:normal;">Diane R.</span></h3> </div>
            <div class="item">
                <h3>"5 STARS!!"<br><span class="text-muted" style="font-style:normal;">Kim F.</span></h3> </div>
            <div class="item">
                <h3>"Great location, friendly staff, highly recommend!"<br><span class="text-muted" style="font-style:normal;">Ann S.</span></h3> </div>
        </div>
    </div>
</div>